.txt{
    position: absolute;
    font-weight: bold;
    width: 80vw;
    height: 80vh;
    top: 180px;
    left: 120px;
    font-size: 35px;
}
.imgAb{
    position: absolute;
    width: 100vw;
    height: 100vh;
}